/*
 * Top menu
*/
.top-menu__wrap {
  display: none;
  margin-bottom: 0.7em;
  background-color: #f3f3f3;
  padding-left: 15px;
  padding-right: 15px;
  @media(min-width: 768px) { display: block; }
}

.top-menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding: 0.5em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  a {
    color: #333333;
    &:hover { color: #747474; }
  }
}

.callBack__text { border-bottom: 1px solid; }
.callBack .fa {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  bottom: -2px;
}