/*
 * Home Slider
*/
.home-slider {}

.home-slider__item {
  //height: 600px;
  //text-align: center;
  //background-position: center center;
  //background-size: cover;
  //background-repeat: no-repeat;
}

// .home-slider__item_1 { background-image: url('blocks/home-slider/images/slide_6.jpg'); }
// .home-slider__item_2 { background-image: url('blocks/home-slider/images/slide_7.jpg'); }
// .home-slider__item_3 { background-image: url('blocks/home-slider/images/slide_8.jpg'); }
// .home-slider__item_4 { background-image: url('blocks/home-slider/images/slide_9.jpg'); }
// .home-slider__item_5 { background-image: url('blocks/home-slider/images/slide_10.jpg'); }

// .home-slider__content { width: 30%; height: 600px; margin-left: auto; padding: 3em; background-color: #f7f3f2; }
// .home-slider__title { margin-bottom: 1em; font-size: 2.5em; }
// .home-slider__subtitle { font-size: 1.7em; line-height: 1; }

// .home-slider__button { margin-top: 2em; color: #fff; background-color: $secondary; }

// @media(max-width: 1200px) {
//   .home-slider__content { width: 50%; }
// }

// @media(max-width: 480px) {
//   .home-slider__content { width: 90%; height: auto; margin: 1em auto; }
//   .home-slider__title { font-size: 2em; }
//   .home-slider__subtitle { font-size: 1em; }
//   .home-slider__item { min-height: 400px; }
// }